.chat-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    height: 90vh; 
    box-sizing: border-box;
    
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .chat-header h2, .chat-header h3 {
        margin: 0;
        font-size: 1.2rem;
    }

.messages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    
}

.message-item {
    margin-bottom: 12px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    display: grid;
    max-width: 80%;
    width: calc(max-content + 200px);
    float: left;
    clear: both;
}

.message-user {
    font-weight: bold;
    margin-bottom: 4px;
}

.message-text {
    margin-bottom: 4px;
}

.message-sentiment {
    font-size: 0.7rem;
    color: #666;
    text-align: right;
}

.chat-input-container {
    display: flex;
    margin-top: 15px;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

.send-btn {
    background-color: #4CAF50;    
    padding: 10px 16px;
}

    .send-btn:hover {
        background-color: #45a049;
    }

.leave-btn {
    background-color: #ff4d4d;
}

    .leave-btn:hover {
        background-color: #ff6666;
    }

.progress-circular {
    position: absolute !important;
    top: 200px !important;
    margin: auto !important;
    width: 30vw !important;
    height: 30vw !important;
    left: 35vw !important;
}

@media (max-width: 768px) {
    .chat-container {
        width: 100%;
        padding: 20px 10px;
    }

}
