@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<input @bind="_chatName" placeholder="Enter chat name" @onkeypress="OnKeyPress" />
<input @bind="_userName" placeholder="Enter your name" @onkeypress="OnKeyPress" />

<button @onclick="Connect">Join chat</button>

@code {
    private string? _chatName;
    private string? _userName;


    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            Connect();
        }
    }

    private void Connect()
    {
        if(!string.IsNullOrWhiteSpace(_chatName) && !string.IsNullOrWhiteSpace(_userName))
        {
            navigationManager.NavigateTo($"/chat_chat={_chatName}&user={_userName}");
        }
    }
}
