@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<input @bind="_chatName" placeholder="Enter chat name" />
<input @bind="_userName" placeholder="Enter your name" />

<button @onclick="Connect">Send</button>

@code {
    private string? _chatName;
    private string? _userName;

    private void Connect()
    {
        if(!string.IsNullOrWhiteSpace(_chatName) && !string.IsNullOrWhiteSpace(_userName))
        {
            navigationManager.NavigateTo($"/chat_chat={_chatName}&user={_userName}");
        }
    }
}
